<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/coinlylogo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coinlylogo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coinly"
        tools:targetApi="31">
        <activity
            android:name=".ChangePinFragment"
            android:exported="false" />
        <activity
            android:name=".PocketDetailsFragment"
            android:exported="false" />
        <activity
            android:name=".AddFundsFragment"
            android:exported="false" />
        <activity
            android:name=".MyQRFragment"
            android:exported="false" />
        <activity
            android:name=".SendMoneyConfirmFragment"
            android:exported="false" />
        <activity
            android:name=".SendMoneyFragment"
            android:exported="true" />
        <activity
            android:name=".PocketFragment"
            android:exported="false" />
        <activity
            android:name=".HelpFragment"
            android:exported="false" />
        <activity
            android:name=".ProfileFragment"
            android:exported="false" />
        <activity
            android:name=".QRScannerFragment"
            android:exported="false" />
        <activity
            android:name=".RequestTransactionHistoryFragment"
            android:exported="false" />
        <activity
            android:name=".TransactionDetailsFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransactionsFragment"
            android:exported="false" />
        <activity
            android:name=".WalletFragment"
            android:exported="false" />
    </application>

</manifest>
